__pycache__
/repositories
/venv
/tmp
/ui-config.json
/outputs
/log
/webui.settings.bat
/styles.csv
/params.txt
/styles.csv.bak
/user.css
/.idea
notification.mp3
.vscode
/cache.json
.DS_Store
scripts/callback.py
*.pyc
/scripts/highres.py